/*////////////////////////
    Table of Contents
    1. NavLink styling
    2. Hover transformation
////////////////////////*/

/* ------------------------------- 1. NavLink styling -------------------------------- */

.nav-link {
    text-decoration: none;

    display: flex;
    align-items: center;
}

.nav-link p {
    font-size: 0.9rem;

    position: relative;
    transition: all 0.3s ease;
}

.nav-link .active-link > * {
    color: var(--primary);
    font-weight: 500;
}

.nav-link .default-link {
    color: var(--light);
}


/* ------------------------------- 2. Hover transformation -------------------------------- */

.nav-link p::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: var(--primary);
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.nav-link p:hover::after {
    width: 100%;
}