/* ------------------------------- Button styling -------------------------------- */

.btn {
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: var(--button-text);
    border-radius: 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    padding: 0.75rem 1.5rem;
    margin: 0.5rem 0;
}

.btn:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* A bit stronger shadow on hover */
}

.btn__default {
    background: var(--secondary-orange);
    background: linear-gradient(90deg, var(--secondary-orange) 0%, var(--secondary-pink) 100%);
}

.btn__default:hover {
    background: var(--dark);
    background: linear-gradient(90deg, var(--dark) 0%, var(--primary-dark) 100%);
}