/* ------------------------------- 1. Global dropdown styling -------------------------------- */

.dropdown {
    position: relative;
}

.dropdown__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown__icon {
    margin-top: 0.5rem;
}

.dropdown__content {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0;
}
