.password-field {
    position: relative;
    max-width: 24rem;
}

.password-field__show-btn {
    position: absolute;
    right: 1.5rem;
    top: 2.75rem;

    font-size: 0.875rem;
    color: #8C8F86;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.password-field__show-btn:hover {
    color: var(--primary-dark);
}
