.password-field {
    position: relative;
    max-width: 24rem;
}

.password-field__show-btn {
    position: absolute;
    right: 1.5rem;
    top: 3rem;

    font-size: 0.875rem;
    text-decoration: underline;
}