/* ------------------------------- Recipe quiz page styling -------------------------------- */

.recipe-quiz-section {
    margin: 0 0 3rem;
}


.recipe-quiz__start-screen,
.recipe-quiz__end-screen {
    color: var(--primary-dark);
    text-align: center;
    border: 2px solid var(--primary-dark);
    border-radius: 1rem;

    padding: 8rem 4rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.recipe-quiz__start-screen h2,
.recipe-quiz__end-screen h2 {
    letter-spacing: 2px;
    line-height: 3rem;
}



.recipe-quiz__question {
    border: 2px solid var(--primary-dark);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.recipe-quiz__nav-btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    width: 100%;
    max-width: 8rem;
    margin: 0 auto 2rem;
}