/*////////////////////////
    Table of Contents
    1. Error Message styling
    2. Error Message Mediaqueries
////////////////////////*/

/* ------------------------------- Error Message styling -------------------------------- */

.error-message {
    border: 1px dashed var(--secondary-orange);
    border-radius: 1rem;
    color: var(--secondary-orange);
    text-align: center;

    padding: 1rem 3rem;
    margin: 3rem 1rem;
    animation: blink 3s ease-in-out;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}


/* ------------------------------- Error Message Mediaqueries -------------------------------- */

@media screen and (max-width: 678px) {
    .error-message {
        padding: 1rem 2rem;
    }
}