.confirm-message {
    text-align: center;
    background: var(--light);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 1rem 2rem;
    z-index: 5000;
}

.confirm-btn,
.cancel-btn {
    padding: 0.5rem 1rem;
    margin: 0.75rem;
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-radius: 1rem;
    transition: box-shadow 0.3s, transform 0.3s;
}

.confirm-btn {
    background: var(--primary);
}

.cancel-btn {
    border: 1px solid var(--dark);
}


.confirm-btn:hover,
.cancel-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}
