/* ------------------------------- Terms and policy page styling -------------------------------- */

.terms-policy__container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 0 2rem;
}

.terms-policy__list {
    margin-left: 1rem;
    max-width: 38rem;
}

.terms-policy__item {
    margin-bottom: 1rem;
}