/*////////////////////////
    Table of Contents
    1. Recipe Details page styling
       1.1 Header
       1.2 Recipe details container and main info
       1.3 Recipe details ingredients and instructions
       1.5 Similar recipes
    2. Recipe details page Mediaqueries
 ////////////////////////*/

/* ------------------------------- 1. Recipe details page styling -------------------------------- */

/* ----------------------------------------- 1.1 Header --------------------------------------- */

.recipe-details__header-icon {
    margin-top: 0.5rem;
}


/* ----------------------------------------- 1.2 Recipe details container and main info ------------- */

.recipe-details__container {
    border: 1px solid var(--dark);
    border-radius: 1.5rem;

    max-width: 50rem;
    padding: 1rem 3rem;
    margin: 0 1rem;
}


.recipe-details__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1rem;

    margin: 0.5rem 1rem 0 0;
}

.recipe-details__info p {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}


.recipe-details__image {
    max-width: 20rem;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);

    margin: 1.5rem 0 1rem;
}


.recipe-details__categories {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.recipe-details__categorie {
    background-color: var(--primary);
    border-radius: 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    padding: 0.5rem 1.25rem;
}


/* ----------------------------------------- 1.3 Recipe details ingredients and instructions --------------------------------------- */

.ingredients__title,
.instructions__title {
    width: 100%;
    padding: 0.75rem 0;
    border-bottom: 1px solid var(--dark);
}


.ingredients__servings {
    background-color: var(--grey);
    border-radius: 2rem;

    max-width: 20rem;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredients__servings-buttons Button + Button {
    margin-left: 0.5rem;
}


.ingredients__ingredients-list {
    list-style: none;
    margin: 0 0.75rem;
}



.ingredients-list__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.ingredients-list__item--quantity-wrapper {
    width: 6rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}


.instructions__text {
    max-width: 32rem;
    margin: 1.5rem 0;
}


/* ----------------------------------------- 1.4 Similar Recipes --------------------------------------- */

.similar-recipes__container {
    margin: 1rem 0 2rem;
}

.similar-recipes__not-found {
    text-align: center;
    margin: 1rem 0 3rem;
}



/* ------------------------------- 2. Recipe details mediaqueries -------------------------------- */

@media screen and (max-width: 576px) {
    .recipe-details__container {
        padding: 0.5rem 1.5rem;
    }
}

@media screen and (max-width: 428px) {
    .ingredients-list__item {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        margin-bottom: 2rem;
    }

    .ingredients-list__item--quantity-wrapper {
        width: auto;
    }
}
