@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
    4. Mediaqueries
 ////////////////////////*/


/* ------------------------------- 1. Global Styles -------------------------------- */

:root {
    --primary: #D8F499;
    --primary-light: #EBFACC;
    --primary-dark: #1A7453;
    --secondary-orange: #F87E39;
    --secondary-pink: #F2686D;
    --dark: #012F1E;
    --light: #F8FAF9;
    --white: #F7F7F7;
    --button-text: #EEFFCA;
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "Arial", "Helvetica", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: var(--dark);
    background-color: var(--light);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
}



/* ------------------------------- 2. Typography ----------------------------------- */

button, input, select, textarea {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
    margin: 0.75rem 0;
}


h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

h5 {
    font-size: 1.1rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.25rem 0;
}


em {
    font-weight: 600;
    font-style: inherit;
}


/* ------------------------------- 3. Layout --------------------------------------- */

img {
    width: 100%;
}

a,
a:visited {
    color: var(--primary-dark);
    letter-spacing: 0.125rem;
    font-weight: 500;
}

a:hover {
    color: var(--secondary-orange);
    font-weight: 600;
}

.go-to-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1rem;
}

button {
    cursor: pointer;
    background: none;
}

button:disabled {
    cursor: not-allowed;
}

/* ------------------------------- 4. Mediaquerries --------------------------------------- */

@media screen and (max-width: 850px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 678px) {
    html {
        font-size: 12px;
    }
}

