/* ------------------------------- Sign in page styling -------------------------------- */

.sign-in-section {
    background-color: var(--primary);
    min-height: 90vh;

    align-items: center;
}

.sign-in-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}